@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans.ttf") format("truetype");
  font-weight: 300 500 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../fonts/BricolageGrotesque.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --ui-color-neutral-900: #03012d;
  --ui-color-neutral-800: #272541;
  --ui-color-neutral-700: #312f4b;
  --ui-color-neutral-600: #3d3b5e;
  --ui-color-neutral-500: #57547a;
  --ui-color-neutral-400: #7a7892;
  --ui-color-neutral-300: #aeaeb7;
  --ui-color-neutral-200: #d5d4d9;
  --ui-color-neutral-100: #ffffff;

  --ui-color-primary-900: #1c22a4;
  --ui-color-primary-800: #2c37b7;
  --ui-color-primary-700: #3542c2;
  --ui-color-primary-600: #3e4dcf;
  --ui-color-primary-500: #4455da;
  --ui-color-primary-400: #6170e1;
  --ui-color-primary-300: #7f8ce7;
  --ui-color-primary-200: #a4adee;
  --ui-color-primary-100: #c9cdf5;

  --ui-container: 1220px;

  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-serif: "Bricolage Grotesque", serif;
}
